// ========================================
// menu
// ========================================

.menu__heading {
	margin-bottom: 20px;
	text-align: center;
}

.menu__fact {
	@include flex-c-c;
	flex-direction: column;
	margin-bottom: 40px;
}

.menu__fact-heading {
	margin-bottom: 10px;
	text-align: center;
}

.menu__fact-description {
	text-align: center;
}

.menu__subheading {
	margin-bottom: 20px;
	text-align: center;
}

.menu__list {
	> :not(:last-child) {
		margin-bottom: 20px;
	}
}

.menu__message {
	display: block;
	font-size: 24px;
	text-align: center;
}
