// ========================================
// results-panel
// ========================================

.results-panel {
	background-color: $white;
	color: $black;
	border-radius: 5px;
	width: 100%;
	padding: 20px;
}

.results-panel__score {
	text-align: center;
	display: block;
	margin-bottom: 10px;
}

.results-panel__message {
	text-align: center;
	display: block;
	margin-bottom: 20px;
}

.results-panel__message--excellent {
	color: $green;
}

.results-panel__message--good-enough {
	color: $orange;
}

.results-panel__message--failed {
	color: $red;
}

.results-panel__list {
	margin-bottom: 20px;
	max-height: min(40vh, 700px);
	overflow: auto;
	border-radius: 5px;
	> :not(:last-child) {
		margin-bottom: 10px;
	}
}

.results-panel__item {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 100px;
	background-color: $gray-mid;
	padding: 20px;
	border-radius: 5px;
	gap: 20px;
}

.results-panel__name {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.results-panel__image-wrap {
	aspect-ratio: 1;
	@include flex-c-c;
}

.results-panel__image {
	width: 100%;
}
