// ========================================
// variables
// ========================================

$font-default: 'Lato', sans-serif;
$font-childish: 'Lilita One', cursive;

$white: #fff;
$gray-mid: #d1d1d1;
$black: #000;

$transition-primary: 300ms ease-in-out;
