// ========================================
// variables
// ========================================

$font-default: 'Lato', sans-serif;
$font-childish: 'Lilita One', cursive;

$green: #4caf50;
$orange: #ffa726;
$red: #ef5350;

$white: #fff;
$gray-mid: #ececec;
$black: #000;

$transition-primary: 300ms ease-in-out;
