// ========================================
// variables
// ========================================

$font-default: 'Lato', sans-serif;
$font-childish: "Lilita One", cursive;

$white: #fff;
$black: #000;

$transition-primary: 300ms ease-in-out;
