// ========================================
// fonts
// ========================================

@font-face {
	font-family: 'Lilita One';
	src: url('fonts/LilitaOne.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}