// ========================================
// layout
// ========================================

body {
	color: $white;
	opacity: 0;
	background-color: $black;
	&.loaded {
		transition: $transition-primary;
		transition-property: opacity;
		transition-delay: 0.5s;
		opacity: 1;
	}
}

::-webkit-scrollbar {
	width: 0;
	background-color: transparent;
}

html {
	scrollbar-width: none;
}

#root {
	min-height: 100vh;
}

.wrap {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 410px;
	margin: 0 auto;
}
