// ========================================
// layout
// ========================================

body {
	color: $white;
	opacity: 0;
	background-color: $black;
	&.loaded {
		transition: $transition-primary;
		transition-property: opacity;
		transition-delay: 0.5s;
		opacity: 1;
	}
}

#root {
	min-height: 100vh;
}
