// ========================================
// typography
// ========================================

.text-large {
	font-size: 80px;
}

.text-middle {
	font-size: 32px;
}

.text-small {
	font-size: 24px;
}
